@import '../styles/base.scss';

.bio {
  color: #000000;
  width: 40%;

  &__name {
    font-size: 46px;
    line-height: 70px;
    color:#000000;
    margin-bottom: $gap;

    @include bp(tablet) {
      font-size: 72px;
    }
    
    &--heavy {
      font-weight: bold;
      text-transform: uppercase;
    }
  }

  &__spotahome {
    width: 34px;
    vertical-align: middle;
  }

  &__occupation {
    color: $gray;
    margin-bottom: $gap * 3;
    font-size: 18px;
    text-align: left;
    @include bp(tablet) {
      font-size: 24px;
      line-height: 36px;
    }
  }

  &__information {
    &-icon {
      width: 30px;
      vertical-align: middle;
      margin-right: 4px;
    }

    &-socials {
      font-size: 18px;

      @include bp(tablet) {
        font-size: 18px;
      }

      * + * {
        margin-left: 48px;
      }

      &-link {
        color: black;
        text-decoration: none;

      }
    }
  }
}